{% extends 'base.html' %}
{% load static %}

{% block content%}
<section class="hero container-fluid py-5">
    <canvas class="d-none d-md-block w-100"></canvas>
    <div class="hero-next h-100 py-5 row align-items-center">
        <div class="col">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-3 d-none d-md-block">
                        <div class="p-3">
                            <p class="" data-aos="fade-right" data-aos-delay="2200">I am a freelance graphic designer and software engineer who creates
                                best-in-class logo design and brand identity.</p>
                        </div>
                        <div class="py-5 d-none d-lg-block"></div>
                    </div>
                    <div class="col-md-6 text-center py-5">
                        <h1 class="display-2 fw-bolder playfair">I am</h1>
                        <h1 class="display-2 fw-bolder playfair"><span class='text-orange'>O</span>swald <span class='text-orange'>H</span>oundekon</h1>
                        <img width="300" class="text-danger" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="3200" src="{% static 'scratch.svg' %}" alt="">
                    </div>
                    <div class="col-md-3" data-aos="fade-left"  data-aos-delay="2400">
                        <div class="py-5 d-none d-lg-block"></div>
                        <p class=" d-md-none">I am a freelance graphic designer and software engineer who create
                            best-in-class logo design and brand identity.</p>
                        <p class="">Educating people about their brand stories, identity, design and business.
                            Through creative excellence, I aim at transforming brands into sustainable success
                            stories that inspire customers and employees.</p>
                        <div>
                            <a class="text-white" href="{% url 'contact' %}">Let's Talk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5 px-0">
    <div class="container text-center">
        <p class="h1 cormorant">I am proud to have worked <br> with these amazing brands</p>
        <img width="80" src="{% static 'scratch.svg' %}" alt="">
    </div>
    <div class="marquee-container d-flex flex-row w-100 mt-5">
        <div class="marquee w-100 col-10">
            <div class="row w-100 py-2 align-items-center">
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'kamelo.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'dalch_sun.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'maras.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'blueside.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'acklam.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'bendownbutik.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'uzima-homes.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="marquee w-100 col-12">
            <div class="row w-100 py-2 align-items-center">
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'kamelo.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'dalch_sun.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'maras.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'blueside.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'acklam.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'bendownbutik.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'uzima-homes.svg' %}" alt="">
                </div>
            </div>
        </div>
        
    </div>
    <div class="marquee-container d-flex flex-row w-100 mt-5">
        <div class="marquee2 w-100 col-10">
            <div class="row w-100 py-2 align-items-center">
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'kamelo.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'dalch_sun.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'maras.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'blueside.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'acklam.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'bendownbutik.svg' %}" alt="">
                </div>
            </div>
        </div>
        <div class="marquee2 w-100 col-12">
            <div class="row w-100 py-2 align-items-center">
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'kamelo.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'dalch_sun.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'maras.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'blueside.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'acklam.svg' %}" alt="">
                </div>
                <div class="col d-flex justify-content-center p-0">
                    <img width="50%" src="{% static 'bendownbutik.svg' %}" alt="">
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="container-fluid py-5">
    <div class="container text-center">
        <p class="h1 cormorant">Working hard since 2018</p>
        <img width="80" src="{% static 'scratch.svg' %}" alt="">
        <div class="row justify-content-center align pt-5 px-md-5">
            <div class="container w-md-100 w-lg-75">
                <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-md d-flex justify-content-start justify-content-md-end">
                        <img class="w-50" data-aos="fade-right" src="{% static 'header-background.png' %}" alt="img-oswaldhoundekon">
                    </div>
                    <div class="col-12 col-md text-start">
                        <div class="w-100 here_i_am_p">
                            <p class="my-3" data-aos="fade-up" data-aos-delay="100">A leading Graphic Designer and software engineer who specialises in logo
                                design, hand lettering, brand identity and UI/UX design.</p>
                            <p class="my-3" data-aos="fade-up" data-aos-delay="200">With more than 5 years of experience, I have produced high-quality content
                                for lots of clients, ranging from already well established businesses to SMEs and
                                small-scale start-ups.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="container-fluid py-5 services">
    <div class="container text-center">
        <p class="h1 cormorant">Services I offer</p>
        <img width="80" src="{% static 'scratch.svg' %}" alt="">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-5 m-2">
                <p class="playfair fs-3" data-aos="zoom-in">Full Brand Identity</p>
            </div>
            <div class="col-5 m-2">
                <p class="playfair fs-3" data-aos="zoom-in" data-aos-delay="50">Logo Design</p>
            </div>
            <div class="col-5 m-2">
                <p class="playfair fs-3" data-aos="zoom-in" data-aos-delay="100">Web Design</p>
            </div>
            <div class="col-5 m-2">
                <p class="playfair fs-3" data-aos="zoom-in" data-aos-delay="150">Ux/Ui Design</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5">
    <div class="container text-center">
        <p class="h1 cormorant">My work</p>
        <img width="80" src="{% static 'scratch.svg' %}" alt="">
        <div class="py-5" id="">
            <div class="image-container">
                {% comment %} {% for work in works %}
                        <a data-aos="fade-down" href="{% url 'projects:details' slug=work.slug %}">
                            <img class="rounded proj" src="{{ work.mainImage.url }}" alt="">
                        </a>
                {% endfor %}     {% endcomment %}

                <ul class="list-group playfair">
                    {% for work in works %}
                        <a data-aos="fade-down" class="link-underline-opacity-0" href="{% url 'projects:details' slug=work.slug %}">
                            <li class="bg-transparent text-light fs-1 py-4 list-group-item d-flex justify-content-between align-items-start">
                                <p>{{work.title}}</p>
                                <span><i class="bi bi-eye"></i></span>
                            </li>
                        </a>
                    {% endfor %}  
                    
                </ul>
            </div>      
        </div>
    </div>
</section>

<section class="container-fluid py-5 testimonies">
    <div class="container text-center">
        <p class="h1 cormorant">My clients' feedback is important to me</p>
        <img width="80" src="{% static 'scratch.svg' %}" alt="">

        <div class="row justify-content-center align-items-center py-5">
            {% for i in range %}
                <div class="col-6 p-1" data-aos="fade-down">
                    <div class="card text-start bg-transparent rounded">
                        <div class="card-body rounded">
                            <div class="user d-flex flex-column flex-sm-row pb-2">
                                <div class="user-dp me-2">
                                    <img src="{% static 'header-background.png' %}" alt="">
                                </div>
                                <div class="user-info">
                                    <h5 class="mb-0">Chadly Ngoy</h5>
                                    <small>Entrepreneur</small>
                                </div>
                            </div>
                            <p>Really good, you have saved our business! I made bacck the purchase price in just 48
                                hours!
                                man, this thing is getting better and better as I learn more about it.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

