{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid py-5">
        <div class="container pt-md-3 text-center">
            <p class="h1 cormorant">Privacy <br> <span class="text-orange">Policy</span></p>
            <img class="pb-3" width="80" src="{% static 'scratch.svg' %}" alt="">
            <div class="text-start accordion accordion-flush" id="accordion_example">
                <div class="accordion-item" data-oas="fade-down">
                    <h2 class="accordion-header" id="heading-1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expended="false" aria-controls="collapse-1">1.Preambule</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-1">
                        <div class="accordion-body">
                            <p>
                                I (Oswald Houndekon) value your privacy and the importance of safeguarding your data. This Privacy Policy (“Privacy Policy”) 
                                describes my privacy practices for the activities set out below. 
                                As per your rights, I inform you how I collect, store, access, and otherwise process information relating to individuals. 
                                In this Policy, “Personal Data” refers to any information that on its own, or in combination with other available information, can distinguish an individual.
                                I am committed to protecting your privacy in accordance with the highest level of privacy regulation.
                                As such, I follow the obligations under: </br>
                                • EU’s General Protection Data Regulation (GDPR)</br>
                                • Canada’s Personal Information Protection and Electronic Documents Act (PIPEDA) and the applicable provincial legislations</br>
                                • Brazil’s Data Protection Legislation (LGPD)</br>
                                • California’s Consumer Protection Act (CCPA) and California Online Privacy Protection Act (CalOPPA)</br> </br>
                                <span class="h5">Scope</span></br>
                                This policy applies to the Oswald Houndekon websites and domains. </br>
                                This Policy does not apply to third-party applications, websites, products, services or platforms that may be accessed through (non Oswald Houndekon ) links that I may provide to you.
                                These sites are owned and operated independently from me, and they have their own separate privacy and data collection practices. 
                                Any personal data that you provide to these websites will be governed by the third-party’s own privacy policy. 
                                I cannot accept liability for the actions or policies of these independent sites, and I am not responsible for the content or privacy practices of such sites.
                                </br> </br>
                                <span class="h5">Processing Activities</span></br>
                                This Privacy Policy applies when you interact with me by doing any of the following:</br>
                                • Make use of my application and services as an authorised user</br>
                                • Visit any of my websites that link to this Privacy Statement</br>
                                • Receive any communication from me including newsletters, emails, calls, or texts</br>
                                I offer the following services; Consultation, Logo Design, Brand identity, Brand Guidelines, Website Design and more.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="50">
                    <h2 class="accordion-header" id="heading-2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expended="false" aria-controls="collapse-2">2.Personal Data I Collect</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-2">
                        <div class="accordion-body">
                            <p>
                                <span class="h5">Data You Provide</span></br>
                                If you believe that your Personal Data has been provided to me improperly, or to otherwise exercise your rights relating to your Personal Data, please contact me by using the information set out in the Contact Me section below.
                                </br> </br>
                                <span class="h5">Device and Usage Data</span></br>
                                When you visit this website, I automatically collect and store information about your visit using browser cookies (files which are sent by me to your computer), or similar technology. 
                                You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help Feature on most browsers will provide information on how to accept cookies, disable cookies or to notify you when receiving a new cookie. 
                                If you do not accept cookies, you may not be able to use some features of my Service and I recommend that you leave them turned on.</br>
                                I also process information when you use my services and products.</br>
                                This information may include:</br>
                                • IP Address</br>
                                • Individual Products you view</br>
                                • Web terms or searches that led you to the site</br>
                                • Time zone</br></br>
                                <span class="h5">Sharing & Disclosure</span></br>
                                I also use Google Analytics to help me understand how my customers use the site.
                                You can read more about how Google uses your Personal Information here:
                                <a class="text-orange" href="https://www.google.com/intl/en/policies/privacy/" >https://www.google.com/intl/en/policies/privacy/</a>
                                ou can also opt-out of Google Analytics here: <a class="text-orange" href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a> </br></br>
                                <span class="h5">Legal Requirement</span> </br>
                                I may use or disclose your personal data in order to comply with a legal obligation, in connection with a request from a public or government authority, or in connection with court or tribunal proceedings, to prevent loss of life or injury, or to protect my rights or property. Where possible and practical to do so, I will tell you in advance of such disclosure.


                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="100">
                    <h2 class="accordion-header" id="heading-3">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expended="false" aria-controls="collapse-3">3.Cookie Policy</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-3">
                        <div class="accordion-body">
                            <p>
                                <span class="h5">What are cookies?</span><br>
                                A cookie is a small file with information that your browser stores on your device. 
                                Information in this file is typically shared with the owner of the site in addition to potential partners and third parties to that business. 
                                The collection of this information may be used in the function of the site and/or to improve your experience. <br><br>

                                <span class="h5">How I use cookies</span><br>
                                To give you the best experience possible, I use the following types of cookies:<br>
                                • Strictly Necessary: As a web application, I require certain necessary cookies to run my service.<br>
                                • Preference: I use preference cookies to help me remember the way you like to use my service. 
                                Some cookies are used to personalise content and present you with a tailored experience. 
                                For example, location could be used to give you services and offers in your area.<br>
                                • Analytics: I collect analytics about the types of people who visit my site to improve my service and product.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="150">
                    <h2 class="accordion-header" id="heading-4">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-4" aria-expended="false" aria-controls="collapse-4">4.Retention & Deletion</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-4">
                        <div class="accordion-body">
                            <p>
                                I will only retain your personal data for as long as necessary for the purpose for which that data was collected and to the extent required by applicable law. 
                                When I no longer need personal data, I will remove it from my systems and / or take steps to anonymise it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="200">
                    <h2 class="accordion-header" id="heading-5">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expended="false" aria-controls="collapse-5">5.Children’s Privacy</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-5">
                        <div class="accordion-body">
                            <p>I will not knowingly collect personal data from children under the age of 16 Years.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="250">
                    <h2 class="accordion-header" id="heading-6">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-6" aria-expended="false" aria-controls="collapse-6">6.Your Rights to Your Personal Data</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-6">
                        <div class="accordion-body">
                            <p>
                                Depending on your geographical location and citizenship, your rights are subject to local data privacy regulations. These rights may include:<br><br>
                                <span class="h5">Right to Access (PIPEDA, GDPR Article 15, CCPA, LGPD)</span><br>
                                You have the right to request a copy of the personal data I am processing about you.<br><br>

                                <span class="h5">Right to Rectification (PIPEDA, GDPR Article 16, LGPD)</span><br>
                                You have the right to have incomplete or inaccurate personal data that I process about you rectified.<br><br>

                                <span class="h5">Right to be Forgotten (right to erasure) (GDPR Article 17, CCPA, LGPD)</span><br>
                                You have the right to request that I delete personal data that I process about you, except I am not obliged to do so if 
                                I need to retain such data in order to comply with a legal obligation or to establish, exercise or defend legal claims.<br><br>

                                <span class="h5">Right to Restriction of Processing (GDPR Article 18, LGPD)</span><br>
                                You have the right to restrict my processing of your personal data where you believe such data to be inaccurate; my processing is unlawful; 
                                or if I no longer need to process such data for a particular purpose unless I am not able to delete the data due to a legal or other obligation or because you do not wish me to delete it.<br><br>

                                <span class="h5">Right to Portability (PIPEDA, GDPR Article 20, LGPD)</span><br>
                                You have the right to obtain personal data I hold about you, in a structured, electronic format, and to transmit such data to another data controller, 
                                where this is (a) personal data which you have provided to me, and (b) if I am processing that data on the basis of your consent or to perform a contract with you or the third party that subscribes to Oswlad Houndekon website.<br><br>

                                <span class="h5">Right to Objection (GDPR Article 21, LGPD)</span><br>
                                Where the legal justification for my processing of your personal data is my legitimate interest, you have the right to object to such processing on grounds relating to your particular situation. 
                                I will abide by your request unless I have compelling legitimate grounds for processing which override your interests and rights, or if I need to continue to process the data for the establishment, exercise or defence of a legal claim.<br><br>

                                <span class="h5">Right Not to Be Discriminated (CCPA)</span><br>
                                You have the right not to be denied service or have an altered experience based on having executed any of your CCPA rights.<br><br>

                                <span class="h5">Withdrawing Consent</span><br>
                                If you have consented to my processing of your personal data, you have the right to withdraw your consent at any time, free of charge, such as where you wish to unsubscribe from marketing messages that you receive from me. 
                                If you wish to withdraw your consent, please contact me using the information found at the bottom of this page.<br><br>

                                <span class="h5">How to Exercise Your Rights</span><br>
                                You can make a request to exercise any of these rights in relation to your personal data by sending the request to my privacy team by using the form below. 
                                For your own privacy and security, at my discretion, I may require you to prove your identity before providing the requested information.ain!<br><br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="300">
                    <h2 class="accordion-header" id="heading-7">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-7" aria-expended="false" aria-controls="collapse-7">7.Changes</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-7">
                        <div class="accordion-body">
                            <p>
                                I may modify this Policy at any time. 
                                If I make changes to this Policy then I will post an updated version of this Policy on this website. 
                                When using my services, you will be asked to review and accept my Privacy Policy. 
                                In this manner, I may record your acceptance and notify you of any future changes to this Policy.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="350">
                    <h2 class="accordion-header" id="heading-8">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-8" aria-expended="false" aria-controls="collapse-8">8.Complaints</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-8">
                        <div class="accordion-body">
                            <p>
                                If you have a complaint about this Policy or any element of your personal information that I hold then please contact me below. 
                                If you are not satisfied, then you have the right to lodge a complaint with the local data protection authority.<br>
                                If you are based in the EEA, please visit this website for a list of local data protection authorities.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item" data-oas="fade-down" data-aos-delay="400">
                    <h2 class="accordion-header" id="heading-9">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-9" aria-expended="false" aria-controls="collapse-9">9.Contact Me</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapse-9">
                        <div class="accordion-body">
                            <p>
                                To request a copy for your information, unsubscribe from my email list, request for your data to be deleted, or ask a question about your data privacy, I’ve made the process simple.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}